{% macro video_card(v, show_uploader=False) %}
{% set upload_date = v.upload_date | default("00000000", true) %}
<div class="card searchable" data-search="{{ v.title }}{% if v.uploader is defined and v.uploader is not none %} {{ v.uploader }}{% endif %}" data-date="{{ upload_date }}" data-views="{{ v.view_count | default(-1, true) }}">
    <a href="{{ web_root }}videos/{{ v.id }}{{ html_ext }}" class="inner">
      <div class="image thumbnail">
            <img loading="lazy" src="{{ v.custom_thumbnail | url_quote }}">
      </div>
      <div class="content{% if v.removed %} removed{% endif %}{% if v.unlisted %} unlisted{% endif %}">
        <h3 class="title">{{ v.title }}</h3>
        {% if show_uploader and v.uploader is defined and v.uploader is not none %}<p class="meta">{{ v.uploader }}</p>{% endif %}
        {% set has_views = v.view_count is defined and v.view_count is not none %}
        {% set has_date = v.upload_date is defined and v.upload_date is not none %}
        {% if has_views or has_date %}
        <p>{% if has_views %}{{ v.view_count }} views{% endif %}{% if has_views and has_date %}, {% endif %}{% if has_date %}{{ upload_date[:4] }}-{{ upload_date[4:6] }}-{{ upload_date[6:] }}{% endif %}</p>
        {% endif %}
      </div>
    </a>
</div>
{% endmacro %}
