<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="{{ web_root }}hobune.css">
    <script src="{{ web_root }}hobune.js"></script>
    <title>{{ title }} - {{ site_name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    {% for name, value in meta.items() %}
    <meta name="{{ name }}" content="{{ value }}">
    {% endfor %}
  </head>
  <body>
    <div class="header">
      <a href="{{ web_root }}" class="item primary">
        {{ site_name }}
      </a>
      <a href="{{ web_root }}channels/" class="item">
        Channels
      </a>
      <span class="item grow"></span>
      {% for page in custom_pages %}
      <a href="{{ web_root }}{{ page }}{{ html_ext }}" class="{{ 'item right' if loop.first else 'item' }}">{{ page }}</a>
      {% endfor %}
    </div>
    {% block content %}{% endblock %}
  </body>
</html>
