{% extends "base.html" %}
{% block content %}
<div class="container channels">
  <div class="head">
    <div class="title">
      <h1 style="display: inline-block;">{{ channel_name }}</h1>
      <p class="subtitle">
        {% if channel_id != "other" %}
        {% if channel_id | length == 24 and channel_id[:2] == 'UC' %}
        <a href="https://www.youtube.com/channel/{{ channel_id }}">{{ channel_id }}</a>
        {% if channel_username %}, <a href="https://www.youtube.com/user/{{ channel_username }}">/user/{{ channel_username }}</a>{% endif %}
        {% else %}
        {{ channel_id }}
        {% endif %}
        {% set aka = (aka_handles + aka_names) | join(', ') %}
        {% if aka %}; {{ aka }}{% endif %}
        <br>
        {% endif %}
        {{ videos_count }} videos{% if removed_count %} ({{ removed_count }} removed){% endif %}{% if unlisted_count %} ({{ unlisted_count }} unlisted){% endif %}
      </p>
    </div>
    <div>
      <div>
        <select name="sort" class="sort" oninput="channelSort()">
          <option value="date-a">Date (asc)</option>
          <option value="date-" selected>Date (desc)</option>
          <option value="search-a">Name (asc)</option>
          <option value="search-">Name (desc)</option>
          <option value="views-a">Views (asc)</option>
          <option value="views-">Views (desc)</option>
        </select>
        <input type="text" class="search" oninput="channelSearch()" placeholder="Search...">
      </div>
    </div>
  </div>
  {% if note %}{{ note | safe }}{% endif %}
  <div class="channels flex-grid">
    {% for v in videos %}
    {% set upload_date = v.upload_date | default("00000000") %}
    <div class="card searchable" data-search="{{ v.title }}" data-date="{{ upload_date }}" data-views="{{ v.view_count | default(-1) }}">
        <a href="{{ web_root }}videos/{{ v.id }}{{ html_ext }}" class="inner">
          <div class="image thumbnail">
                <img loading="lazy" src="{{ v.custom_thumbnail | url_quote }}">
          </div>
          <div class="content{% if v.removed %} removed{% endif %}{% if v.unlisted %} unlisted{% endif %}">
            <h3 class="title">{{ v.title }}</h3>
            {% set has_views = v.view_count is defined %}
            {% set has_date = v.upload_date is defined %}
            {% if has_views or has_date %}
            <p>{% if has_views %}{{ v.view_count }} views{% endif %}{% if has_views and has_date %}, {% endif %}{% if has_date %}{{ upload_date[:4] }}-{{ upload_date[4:6] }}-{{ upload_date[6:] }}{% endif %}</p>
            {% endif %}
          </div>
        </a>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
