{% extends "base.html" %}
{% from "_macros.html" import video_card with context %}
{% block content %}
<div class="container channels">
  <div class="head">
    <div class="title">
      <h1 style="display: inline-block;">{{ channel_name }}</h1>
      <p class="subtitle">
        {% if channel_id != "other" %}
        {% if channel_id | length == 24 and channel_id[:2] == 'UC' %}
        <a href="https://www.youtube.com/channel/{{ channel_id }}">{{ channel_id }}</a>
        {% if channel_username %}, <a href="https://www.youtube.com/user/{{ channel_username }}">/user/{{ channel_username }}</a>{% endif %}
        {% else %}
        {{ channel_id }}
        {% endif %}
        {% set aka = (aka_handles + aka_names) | join(', ') %}
        {% if aka %}; {{ aka }}{% endif %}
        <br>
        {% endif %}
        {{ videos_count }} videos{% if removed_count %} ({{ removed_count }} removed){% endif %}{% if unlisted_count %} ({{ unlisted_count }} unlisted){% endif %}
      </p>
    </div>
    <div>
      <div>
        <select name="sort" class="sort" oninput="channelSort()">
          <option value="date-a">Date (asc)</option>
          <option value="date-" selected>Date (desc)</option>
          <option value="search-a">Name (asc)</option>
          <option value="search-">Name (desc)</option>
          <option value="views-a">Views (asc)</option>
          <option value="views-">Views (desc)</option>
        </select>
        <input type="text" class="search" oninput="channelSearch()" placeholder="Search...">
      </div>
    </div>
  </div>
  {% if note %}{{ note | safe }}{% endif %}
  <div class="channels flex-grid">
    {% for v in videos %}{{ video_card(v) }}{% endfor %}
  </div>
</div>
{% endblock %}
