{% extends "base.html" %}
{% block content %}
<div class="container channels">
  <div class="head">
    <div class="title">
      <h1 style="display: inline-block;">Tags</h1>
    </div>
    <div>
      <div>
        <select name="sort" class="sort" oninput="channelSort()">
          <option value="videos-" selected>Most videos</option>
          <option value="videos-a">Fewest videos</option>
          <option value="search-a">Name (asc)</option>
          <option value="search-">Name (desc)</option>
        </select>
        <input type="text" class="search" oninput="channelSearch()" placeholder="Search...">
      </div>
    </div>
  </div>
  <div class="channels flex-grid">
    {% for tag in tags %}
    <div class="card searchable" data-search="{{ tag.name }}" data-videos="{{ tag.videos_count }}">
      <a href="{{ web_root }}tags/{{ tag.slug }}{{ html_ext }}" class="inner">
        <div class="content">
          <div class="title">{{ tag.name }}</div>
          <div class="description">{{ tag.videos_count }} videos</div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
