{% extends "base.html" %}
{% block content %}
<div class="container">
    <br>
   <div class="ui">
      <video controls poster="{{ thumbnail | url_quote }}" class="rounded video">
         <source src="{{ video | url_quote }}" type="video/mp4">
         Your browser does not support the video tag.
      </video>
   </div>
   <div class="info">
     <div class="main">
       <h1>{{ title }}</h1>
       {% if comments_count %}
       <p class="comments"><a href="{{ web_root }}comments/{{ video_id }}{{ html_ext }}">View comments ({{ comments_count }})</a></p>
       {% endif %}
       <h2 class="subtitle">Description {% if webpage_url %}<a class="ytlink" href="{{ webpage_url }}">SRC</a>{% endif %}</h2>
       <p>{{ description | nl2br }}</p>
     </div>
     <div class="side">
       {% if views is not none %}<p class="views">{{ views }} views</p>{% endif %}
       {% if date %}<p class="date">{{ date }}</p>{% endif %}
       <p class="uploader">Video by <a href="{{ web_root }}channels/{{ uploader_id if is_full_channel else 'other' }}{{ html_ext }}" title="{{ uploader_id }}">{{ uploader }}</a></p>
       {% for button in download_buttons %}
       <a href="/dl{{ button.url | url_quote }}">
           <div class="button download">
               <i class="icon download"></i> {{ button.name }}
           </div>
       </a>
       <br>
       {% endfor %}
     </div>
   </div>
</div>
{% endblock %}
